html{
    scroll-behavior: smooth;
}
#home{
  background-color: rgb(176, 237, 255);
  background-image: url("https://media.webdunia.com/_media/hi/img/article/2016-12/15/full/1481777202-7644.jpg");
  background-repeat: no-repeat;
  background-position: 25%;
  height:410px;
}
.topright {
  text-align:right;
  font-size: 1.2em;
  font-family: Comic Sans MS;
}
#list{
  text-align:center;
  padding:40px;
  border:20px solid rgb(255, 134, 64);
}
span1{
  background-color: rgb(255, 226, 98);
  display: none;
  border: solid black;
}
span2{
  background-color: rgb(145, 255, 123);
  display: none;
  border: solid black;
}
span3{
  background-color: rgb(170, 226, 236);
  display: none;
  border: solid black;
}
span4{
  background-color: rgb(198, 189, 253);
  display: none;
  border: solid black;
}
div:hover+span1{
  display: block;
}
div:hover+span2{
  display: block;
}
div:hover+span3{
  display: block;
}
div:hover+span4{
  display: block;
}
